@import "../../global.scss";

.about {
    background-color: #ffffff;
    display: flex;

    @include xs {
        flex-direction: column;
    }

    .left {
        flex: 1;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        @include mobile {
            flex: 2;
        }

        @include xs {
            flex: 1;
            max-height: 30vh;
        }

        img {
            height: 80%;
            width: auto;
            object-fit: cover;

            @include mobile {
                height: 80%;
                align-self: center;
            }

            @include xs {
                height: 100%;
                width: 100%;
            }
        }
    }

    .right {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        font-size: 18px;
        margin: 50px 100px 0px 50px;

        @include mobile {
            margin: 0px 25px 0px 25px;
        }

        @include xs {
            flex: 1;
            margin: 0px 20px 0px 20px;
            justify-content: space-evenly;
        }
    }

    .headline {
        font-size: 32px;
        margin-bottom: 20px;

        @include mobile {
            font-size: 24px;
            text-align: justify;
        }

        @include xs {
            font-size: 20px;
            margin: 10px 0;
        }
    }

    .headline span {
        color: $accentColor;
    }

    .about-me {
        margin-top: 30px;
        text-align: justify;

        @include mobile {
            margin-top: 5px;
            font-size: 16px;
        }

        @include xs {
            margin: 0;
        }
    }

    .location {
        font-size: 18px;

        @include mobile {
            font-size: 16px;
        }

        @include xs {
            align-self: center;
            margin-top: -5px;
            margin-bottom: 10px;
        }
    }

    .keywords {
        margin-top: 30px;
        width: 70%;
        font-weight: 300;
        font-size: 1.1em;
        color: $mainColor;
        text-transform: uppercase;

        @include mobile {
            font-size: 0.9em;
            width: 100%;
            text-align: justify;
        }

        @include xs {
            font-size: 0.7em;
            margin: 10px 0;
        }

    }
}