@import "../../global.scss";

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    height: 100%;
    width: 100%;

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        width: 70%;
        justify-items: center;
        padding: 30px 0;
        gap: 40px 40px;
        overflow-x: visible;

        @include xs {
            padding: 10px 0;

        }

        .card {
            background-color: #ffffff94;
            height: 400px;
            border-radius: 10px;
            box-shadow: 0px 0px 15px -8px #000000;
            display: flex;
            flex-direction: column;
            justify-content: center;
            transition: all 1s ease;
            width: 100%;

            @include mobile {
                width: 100%;
                height: 300px;
                padding: 0px;
                margin: 0px 10px;
            }

            @include xs {
                grid-column: span 2;
                height: 250px;

            }

            &:hover {
                transform: scale(1.1);

            }

            &.spanall {
                grid-column: span 2;
                width: 100%;
                height: 560px;
                padding: 20px 0;

                .center {
                    .icon {
                        margin-top: 0;
                    }
                }

                @include mobile {
                    height: 400px;
                }

                @include xs {
                    height: 450px;
                    padding: 0;
                }
            }

            .top {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 20px;

                h3 {
                    @include mobile {
                        font-size: 22px;
                    }

                    @include xs {
                        font-size: 18px;
                    }
                }

                @include xs {
                    padding-top: 5px;

                }
            }

            .center {
                text-align: center;
                padding: 10px;
                border-radius: 10px;
                color: $mainColor;

                .icon {
                    margin-top: 20px;
                    color: $accentColor;

                    span {
                        font-size: 20px;
                    }

                    @include xs {
                        margin-top: 5px;

                    }
                }

                @include mobile {
                    font-size: 12px;
                }
            }

        }

        .about-description {
            display: flex;
            align-items: center;
            text-align: left;
            overflow: hidden;
            border-radius: 10px;

            @include xs {
                flex-direction: column;
                align-items: center;

            }

            .profile-image {
                display: block;
                width: auto;
                height: 500px;
                object-fit: cover;
                overflow: hidden;
                border-radius: 10px;
                margin-left: 20px;

                @include mobile {
                    height: 200px;
                    margin-left: 0;
                }

                @include xs {
                    height: 150px;
                }
            }

            .about-text {
                padding: 0 50px;
                flex: 1;

                @include mobile {
                    padding: 20px 20px;
                }

                @include xs {
                    padding: 10px 10px;
                }
            }
        }



    }
}