@import "../../global.scss";

.about {
    background-color: #ffffff;
    opacity: 0.8;
    background-size: 80px 160px;
    background-image: repeating-linear-gradient(0deg, $mainColor, $mainColor 4px, #ffffff 4px, #ffffff);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mobile {
        background-size: 80px 90px;

    }

    .container {
        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
            height: 100%;
        }

        .card {
            background-color: #ffffff;
            width: 250px;
            height: 70%;
            border-radius: 10px;
            box-shadow: 0px 0px 15px -8px #000000;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 20px;
            transition: all 1s ease;

            @include mobile {
                width: 300px;
                height: 260px;
                padding: 5px;
                margin: 0px 20px;
            }

            @include xs {
                height: 300px;
            }

            &.featured {
                width: 280px;
                height: 75%;
                margin: 0 30px;

                @include mobile {
                    width: 300px;
                    height: 300px;
                    margin: 0;
                }

                @include xs {
                    height: 350px;
                }
            }

            &:hover {
                transform: scale(1.1);
            }

            .top {
                display: flex;
                align-items: center;
                justify-content: center;

                h3 {
                    @include mobile {
                        font-size: 22px;
                    }

                    @include xs {
                        font-size: 18px;
                    }
                }
            }

            .center {
                text-align: center;
                padding: 10px;
                border-radius: 10px;
                color: $mainColor;

                @include mobile {
                    font-size: 12px;
                }
            }

            .bottom {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                color: $accentColor;

                span {
                    font-size: 20px;
                }
            }
        }
    }
}