@import "../../global.scss";

.contact {
    background-color: #ffffff;
    display: flex;
    height: calc(100vh - 70px);

    @include mobile {
        flex-direction: column;
    }

    .left {
        flex: 1;
        overflow: hidden;
        display: flex;
        justify-content: center;

        img {
            height: auto;
            width: 100%;
        }
    }

    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            margin: 10px 0;

            @include mobile {
                font-size: 20px;
            }
        }

        .itemContainer {
            display: flex;
            align-items: center;
            color: #000000;
            text-decoration: none;
            margin: 7px 0;

            &:hover {
                transform: scale(1.1);
                transition: all 0.5s ease;
                color: $accentColor;
            }

            .icon {
                font-size: 20px;
                margin-right: 10px;
            }

            span {
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}