$mainColor: #363636;
$accentColor: #ba215e;
$accentTwo: #fae8f2;
$accentThree: #ebe8f3;

$xsBreakpoint: 576px;
$smBreakpoint: 768px;
$mdBreakpoint: 1024px;

@mixin mobile {
    @media (max-width: #{$smBreakpoint}) {
        @content
    }
}

@mixin xs {
    @media (max-width: #{$xsBreakpoint}) {
        @content
    }
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
}